<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-title"><a href="/">Akilan Sankaran</a></h1>
      <nav class="contact-links">
        <a href="/research">Research</a>
        <a href="/coursework">Academic Background</a>
        <a href="/music">Music</a>
        <a href="https://www.youtube.com/channel/UC3BUUIJfTgrYauJq0PTKlng" target="_blank" rel="noopener noreferrer">YouTube</a>
        <a href="mailto:akilansankaran@college.harvard.edu">Email</a>
        <a href="https://linkedin.com/in/akilan-sankaran/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </nav>
    </header>
    <main class="container">
      {{ content }}
    </main>
  </body>
</html>